<ion-header [translucent]="true">
  <ion-searchbar></ion-searchbar>
  <ion-toolbar>
    <ion-title>funcionario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-list>
    <ion-list>

      <ion-item>
        <ion-input label="id" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="sobrenome" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="nome" ></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-input label="cargo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Data do nacimento" type="date" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Endereço" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cidade" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="CEP" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Pais" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Telefone" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Salario" ></ion-input>
      </ion-item> -->

      <ion-item>
        <ion-button>Cadastart</ion-button>
        <ion-button>Atualizar</ion-button>
      </ion-item>
      
    </ion-list>
  </ion-list>

  <ion-row>
    <ion-col>
      <ion-list>
        <ng-container *ngFor="let funcionario of this.funcionarios">
          <ion-item>
            <ion-label>{{ funcionario.Nome }}</ion-label>
            <ion-button (click)="remover(funcionario.CodFun)">remover</ion-button>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-col>
  </ion-row>



</ion-content>
